<nav class="nav">
    <div class="flex flex-row justify-between w-11/12 mx-auto">

        <div class="log text-white justify-center items-center font-bold flex flex-row">
            <button id="adminMenu" class="flex sm:hidden ml-2 mr-4">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
            <a href="/adminHome">
                <img src="/assets/logo.png" class="logo" alt="">
            </a>
        </div>

        <div class="navBtns">
            <!-- <a href="/profile" class="py-2 px-3 rounded-full bg-slate-400"> -->
            <a href="/adminProfile" class="">
                <i class="fa-solid fa-user text-white fa-md"></i>
            </a>
        </div>
    </div>
</nav>

